{% extends "base.njk" %}

{% block title %}
    Some Page
{% endblock %}

{% block content %}
    <h1>This is some page</h1>

    <h2>{{ text }}</h2>

    <p>This is some text</p>
{% endblock %}

{% block footer %}
    This is a footer.
{% endblock %}
