body {
    background-color: #0cb28e;
    text-align: center;
}

header {
    background-color: #350a4c;
}

h1 {
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: #1d2023;
}

footer {
    border-color: #1d2023;
}
